
div.login-container {
	border: 1px solid black;
	/* display:flex; */
	/* flex-direction: row; */
	margin:10px auto;
	/* justify-content: center; */
	/* align-items: center; */
	text-align: center;
}
div.login-form {
	margin: 0 auto;
	width: 40%;
	border: 2px solid #d0d0d5;
	border-radius: 5px;
	padding:10px;
}
label.form-label {
	width:30%;
}
input.form-input {
	width: 70%;
	height:35px;
	border-radius: 5px;
	border: 1px solid #d0d0d5;
}
div.form-btn {
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}
button.login-btn {
	padding:10px;
	border-radius: 10px;
	border: 1px solid #d0d0d5;
	background-color: #003e6b;
	color:white;
}