div.post-content {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}
/* 1. post detail */
/* 2. comment */
/* 3. vote */

i.bi.bi-hand-thumbs-down.btn-red {
	color: red;
}
i.bi.bi-hand-thumbs-up.btn-yellow {
	color:rgba(244, 225, 17, 0.84);
}