
div.register-container {
	border: 1px solid black;
	margin:10px auto;
	text-align: center;
}
div.register-form {
	margin: 0 auto;
	width: 40%;
	border: 2px solid  rgb(177, 177, 177);
	border-radius: 5px;
	padding:10px;
	/* background-color:rgb(239, 245, 245) */
	background-color:lightgray;
}
label.form-label {
	width:30%;
}
input.form-input {
	width: 70%;
	height:35px;
	border-radius: 5px;
	border: 1px solid #d0d0d5;
	padding-left:10px;
}
div.form-btn {
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}
button.register-btn {
	padding:10px;
	border-radius: 10px;
	border: 1px solid #d0d0d5;
	background-color: #003e6b;
	color:white;
}